* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: rgb(18, 18, 62);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 17px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(161, 161, 241);
}

.dropdown{
  position: relative;
  display: inline-block;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #12007548;
  width: 57px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 13px 13px;
  text-decoration: none;
  display: block;
}
.dropdown-content a img {
  width: 30px;
  display:block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropdownbtn {
  background-color: #07005e;
}

.left {
  font-size: 1.5rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 70px 0;
}

/* .firstsection div{
    align-items: center;
} */

.leftsection {
  width: 50%;
  font-size: 2.5rem;
  margin: 100px 70px 100px 100px;
}
.leftsection .btn {
    padding:2px;
    border-width: 4px;
    border-color: #08090a;
    background: white;
  }

.leftsection div {
  margin-left: 0;
}
#element {
  color: blueviolet;
}

.rightsection {
  width: 50%;
  margin-top: 3px;
}

.purple {
  color: blueviolet;
}
main hr {
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  align-self: center;
  margin: 60px 100px;
}
.thirdsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.textgrey {
  color: grey;
}

.thirdsection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 70px 0;
  display: flex;
}

.thirdsection .vertical {
  height: 77px;
  width: 1px;
  background-color: white;
  margin: 0 120px;
}

.imgtop {
  width: 53px;
  position: relative;
  top: -51px;
  left: -50px;
}

.vertical-title {
  position: relative;
  top:24px;
  width: 175px;
  bottom: 0px;
}
.vertical-title-company{
  padding-top: 0px;
  border-top: 0px;
  font-size: 12px;
  color: rgb(166 210 241);
}
.vertical-title span {
  font-size: small;
  color: #486ed3;
}


.vertical-desc {
    position:relative;
    top: 23px;
    color: grey;
    font-size: 10px;
    width: 180px;
    font-style: italic;

}

.vertical-desc span{
  color: rgb(166 210 241);
}

footer{
    background-color: rgb(11, 3, 19);
    height: auto;

}

footer .footer1{
  max-width:30%;
  max-width: 500px;
}

.footer1 img{
  width: 80%;
}

footer .footer2{
  width:80%;
  max-height: 50px;
}

.footer2 img{
  max-width:50px;
}

.flex{
    display: flex;
    margin: 23px 23px;
    padding:10px;
    justify-content: space-evenly;
}

.footer2 ul{
    list-style: none;
    text-align: center;
}

footer .text-center-top{
    text-align: center;
    color:grey;
    margin:10px 0;
    padding: 12px 0
}
footer .text-center-bottom{
  text-align: center;
  color:grey;
  margin:10px 0;
  padding: 12px 0
}